
.profile{
    width: 183px;
    height: 183px;
    background-image: url(https://i.pinimg.com/236x/23/77/b5/2377b5bf6f32a1c52b8767822f5a6c96.jpg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;

    border: 5px solid #89cf26;

}
.notify{
    width: 30px;
    height: 30px;
    background-color: rgb(241, 53, 53);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.earn2{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    column-gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.earn3{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    column-gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0eae0;
    color: #333;
    align-items: center;
    height: 0vh;
    margin: 2;
    justify-content: center;
    padding: 20px;
    

}
.text{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;   
}

table {
    width: 70%;
    border-collapse: collapse;
    border-spacing: 10px;
    margin: 20px 0;
    border: 2px solid black;
}


.clickme{
    color: rgb(83, 52, 34);
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}

.clickme:hover{
    color: rgb(0, 66, 197);
    font-size: 32px;
}
.box{
    display:flex;
    justify-self: center;
    column-gap: 10px ;

}

.btn {
    background-color: #936943;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}
.btn:hover {
    background-color: #6b4f2c;
}
.contactlst{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #d8cfc4;
}

table tr{
    padding: 10px;
    text-align: center;
}

footer{
    text-align : center;
    justify-content: center;
    height: 100vh;

}

.items {
    display: flex;
    flex-direction: row;
    justify-content:center ;
}